[run]
source = src
omit =
    src/ui.py
    src/setup_wizard.py
    src/app.py
    src/autostart.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    if TYPE_CHECKING
    pass
